body {
  font-family: sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: purple;
}

.background-1 {
  background: #68b0ab;
}

.background-2 {
  background: #8fc0a9;
}

.background-3 {
  background: #c8d5b9;
}

.background-4 {
  background: #faf3dd;
}

.m-20 {
  margin: 20px;
}

.h-80 {
  min-height: 80px;
}

.h-400 {
  height: 400px;
}

.w-80 {
  width: 80px;
}

.flex-container {
  display: flex; /* I was going crazy trying to figure out why nothing was displaying upon adding this style. 
Then I added some text and the colors and boxes showed. I finally added the w-80 class name to the divs so the boxes look neat. */
  /* flex-direction: row-reverse; this code is for exercise 6.1 but I don't want to use it*/
}

.flex-item-1 {
  order: 2;
}
.flex-item-2 {
  order: 3;
}
.flex-item-3 {
  order: 4;
}
.flex-item-4 {
  order: 1;
}

.flex-center {
  justify-content: space-evenly;
  align-items: center;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap-reverse;
}

.flex-basis-item-50 {
  /* flex-basis: 50%; */
  flex-basis: auto;
}

.flex-menu {
  list-style-type: none;
  padding: 0;
  justify-content: start;
  /* 7.2 & 7.3 justify-content: right | center; */
  align-items: center;
}

li {
  padding: 20px;
  margin-right: 3px;
  /* 7.5 flex-grow: 1; */
}

a:link {
  color: black;
  font-weight: bolder;
}

.fourth-item {
  order: 99;
}
